<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
    <h1>Add a new idea</h1>
    <form action='/' method='POST'>
      <input type='text' name='title'/><br/>
      <textarea name='description'></textarea><br/>
      <input type='submit' value="Save"/>
    </form>

  <h2>Your ideas</h2>
  <ul>
    <% ideas.each do |idea| %>
      <li id="idea_<%= idea.id %>">
        <%= idea.rank %>: <%= idea.title %> - <%= idea.description %>
        <a href="/<%= idea.id %>">Edit</a>
        <form action='/<%= idea.id %>' method='POST'>
          <input type="hidden" name="_method" value="DELETE">
          <input type='submit' value="Delete"/>
        </form>
        <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
          <input type='submit' value="+"/>
        </form>
      </li>
    <% end %>
</ul>
  </body>
</html>

